:root {  
        --primary-text-color: #757575;
        --primary-bg-color: #ffffff;
        --secondary-bg-color: #f5f4fa;
        --footer-hero-bg-color: #2f303a;
        --titel-link-color: #212121;
        --secondary-link-color: #757575;
        --accent-color: #2196f3;
        --logo-up-color: #000000;
        --logo-down-color: #ffffff;
        --address-color: #ffffff;
        --address-secondary-color: rgba(255, 255, 255, 0.6);
}


body{
    color: var(--primary-text-color);
    background-color: var(--primery-bg-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/*Header*/
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
width: 145;
height: 31;
color: var(--logo-up-color);
}

.logo-web{
   color: var(--accent-color); 
}

.list{
    list-style: none;
}

.contacts .link{
color: var(--secondary-link-color);    
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.link{
text-decoration: none;
}

.list{
color: var(--logo-up-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.4;
letter-spacing: 0.02em;
list-style: none;
}

.link{
    text-decoration: none;
}

.nav .list .link{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.4;
letter-spacing: 0.02em;
color: var(--logo-up-color);
}

/*--nav--*/

.nav .list .link :hover,
.nav .list .link :focus{
color: var(--titel-link-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.nav .list .link :hover,
.nav .list .link :focus{
    color: var(--accent-color);    
}

.hero{
background-color: var(--footer-hero-bg-color);
}

.hero-title{
font-weight: 900;
font-size: 44px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
line-height: 1.36;
color: var(--primery-bg-color);
}

.title{

}

.internals{
    display: none;
}

.button{
color: var(--primery-bg-color);
background-color: var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 1.88;
}
    

/*--footer--*/

.footer{
background-color: var(--footer-hero-bg-color);
}

.maps{
    color: var(--address-color);

}